* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #f3eae3;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

p {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #70768f;
    margin-top: 1rem;
}

h1 {
    font-family: 'Fraunces', serif;
    font-weight: 700, bold;
    margin-top: 1rem;
}

.productCard {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    max-width: 1080px;
    max-height: 500px;
    overflow: hidden;
}

.perfumeImage {
    border-radius: 20px 0 0 20px;
    width: 50%;
    height: 500;
    object-fit: cover;
}

.perfumeText {
    display: block;
    padding: 0px 40px;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 0;
    width: 50%;
    height: 500px;
    margin-top: 0;
}

.titleWrapper {
    width: 70%;
    margin: 20px 0 20px 0;
}

.textWrapper {
    margin: 0 0 20px 0;
    width: 90%;
    line-height: 1.5;
}

.priceTagWrapper {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}

.perfumePricetag {
    color: #3d8168;
    font-weight: bolder;
    font-size: 1.7rem;
    font-family: 'Fraunces', serif;
    padding-right: 1rem;
    margin-top: 1rem;
}

.oldPricetag {
    text-decoration: line-through;
    font-size: 0.9rem;
}

.category {
    letter-spacing: 4px;
    margin-top: 1rem;
}

.buttonWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 40px 0;
}

button {
    background-color: #3d8168;
    color: white;
    width: 100%;
    height: 3.5em;
    font-weight: 700;
    border-radius: 10px;
    border: none;
    margin-top: 1rem;
}

button:hover {
    background-color: #1a4031;
}


.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}